@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200');


* {
  /* border: 1px solid gold; */
}

.container {
  margin: 0 auto;
  font-family: 'Jost', sans-serif;
}

.search-bar {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h3 {
  font-size: 2.75vw;
  margin: 0;
}

h1 {
  font-size: 26px;
  padding-top: 5px;
}

form {
  margin: 20px 15px;
}

input {
  width: 100px;
  padding: 1em;
  font-size: 14px;
}

.main-content {
  margin: 15px auto;
}

.left-sidebar {
  margin: 20px;
}

.landmarks {
  /* visibility: hidden; */
  margin: 10px;
  text-align: center;
  border: 1px solid #DBD7D7;
  border-radius: 10px;
  padding: 15px 0px;
  position: relative;
  animation-name: shifter;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

.landmark-list {
  margin: 0 auto;
}

.periods {
  margin: 10px;
  text-align: center;
  border: 1px solid #DBD7D7;
  border-radius: 10px;
  padding: 15px 0px;
  position: relative;
  animation-name: shifter;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.styles {
  margin: 0;
}

.right-sidebar {
  margin: 20px;
}

.info {
  margin: 10px;
  text-align: center;
  border: 1px solid #DBD7D7;
  border-radius: 10px;
  padding: 15px 0px;
}

.info h4 {
  margin: 0 auto;
}

.see-more {
  margin: 10px;
  text-align: center;
  border: 1px solid #DBD7D7;
  border-radius: 10px;
  padding: 15px 0px;
}

#submit {
  padding: 1.4em 2.3em;
  border-radius: .5em;
  height: 100%;
  /* margin: 0 auto; */
}

#submit:hover {
  background-color: #DBD7D7;
}

#main-image {
  width: 100%;
}

#main-image1 {
  width: 75%;
  height: 300px;
}

iframe {
  visibility: hidden;
}

@keyframes shifter {
  0% {left: 0px; top: 900px;}
  100% {left: 0px; top: 0px;}
}
