@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;500');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive');

* {
  /* border: 1px solid gold; */
  font-weight: 200;
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0 auto;
}

.container {
  /* margin: 120px auto; */
}

.search-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 1;
  /* transform: translateY(-120px); */
}


.main-images {
  /* margin-top: 120px; */
}

.about-image img {
  /* width: 100%; */
  display: none;
}

.about-image:hover {
  /* transform: scale(1.2); */
}

.about {
  text-align: center;
}

.about img {
  width: 20%;
}

.about span {
  font-family: 'Cedarville Cursive', cursive;
  display: inline-block;
  margin: 0px 15px;
}

.about-image {
  position: relative;
}

.hint {
  display: none;
  position: absolute;
  width: 90%;
  bottom: 95%;
  left: 5%;
  text-align: center;
}


h3 {
  font-size: 20px;
  margin: 16px;
  color: #04417a;
}

h4 {
  color: #575656;
}

h1 {
  font-size: 26px;
  padding-top: 5px;
}

form {
  margin: 20px 15px;
}

input {
  width: 100px;
  padding: 1em;
  font-size: 14px;
}

.main-content {
  margin: 15px auto;
}

.left-sidebar {
  margin: 20px;
}

.landmarks {
  /* visibility: hidden; */
  /* height: 300px;
  overflow-y: scroll; */
  margin: 10px;
  text-align: center;
  border: 1px solid #DBD7D7;
  border-radius: 10px;
  padding: 15px 0px;
  position: relative;
  animation-name: shifter;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

.landmark-list {
  margin: 0 auto;
}

.landmark-list:hover {
  color: #e2884a;
  cursor: pointer;
}

.periods {
  margin: 10px;
  text-align: center;
  border: 1px solid #DBD7D7;
  border-radius: 10px;
  padding: 15px 0px;
  position: relative;
  animation-name: shifter;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.styles {
  margin: 5px 60px;
}

.right-sidebar {
  margin: 20px;
}

.info {
  margin: 10px;
  text-align: center;
  border: 1px solid #DBD7D7;
  border-radius: 10px;
  padding: 15px 0px;
  position: relative;
  animation-name: shifter;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

.info h4 {
  margin: 0 auto;
}

.info h5 {
  font-size: 18px;
  color: #e2884a;
  margin: 25px auto;
}

.see-more {
  margin: 10px;
  text-align: center;
  border: 1px solid #DBD7D7;
  border-radius: 10px;
  padding: 15px 0px;
}

#submit {
  padding: 1.4em 2.3em;
  border-radius: .5em;
  height: 100%;
  /* margin: 0 auto; */
}

#submit:hover {
  background-color: #DBD7D7;
  cursor: pointer;
}

#main-image {
  width: 100%;
  display: none;
}

#main-mobile {
  width: 100%;
  /* margin-top: 120px; */
}

.future {
  margin: 0 auto;
  text-align: center;
}

.future h2 {
  margin: 15px 50px;
}

.future-image-container {
  position: relative;
}

.future-images {
  /* border-radius: 5%; */
  display: none;
  width: 75%;
  height: 500px;
  margin: 0 auto;
}

#previous-button {
  top: 50%;
  left: 3%;
}

#next-button {
  top: 50%;
  right: 3%;
}

.lnr {
  padding: 1.8vw;
  border-radius: 50%;
  text-align: center;
  /* box-shadow: 1px 1px #688daf; */
  color: 	#e66926;
  background-color: #B3DDF2;
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  outline: 1px solid white;
}

.lnr:active {
  background-color: #e66926;
  color: #B3DDF2;
}

/* .future-image-container img {
  display: none;
  width: 90%;
  margin: 0 auto;
} */

.future-image-container img:first-of-type {
  display: block;
}

#return {
  padding: 15px;
  font-size: 18px;
  font-family: inherit;
  margin: 20px auto;
}

#year {
  border: 1px solid #DBD7D7;
  border-radius: 50%;
  margin: 15px 35%;
  padding: 5px;
  background-color: #688daf;
  font-weight: 500;
  color: white;
}

.seemore {
  color: #04417a;
  cursor: pointer;
  text-decoration: underline;
  margin: 10px auto;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  z-index: 1;
}

.modal-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  width: 36%;
  border-radius: 0.5rem;
  text-align: center;
}

.close-modal:hover {
  cursor: pointer;
  color: white;
}

#last-info-item {
  margin-bottom: 20px;
}

iframe {
  visibility: hidden;
}

@keyframes shifter {
  0% {left: 900px; top: 0px;}
  100% {left: 0px; top: 0px;}
}

@media (min-width: 735px) {

  * {
    /* border: 1px solid gold; */
  }

  .container {
    margin: 0 auto;
  }

  .search-bar {
    transform: none;
  }

  .main-images {
    /* margin-top: 91.39px; */
  }

  #main-image {
    display: block;
    box-shadow: 7px 7px 30px #e2884a;
  }

  #main-mobile {
    display: none;
  }

  h3 {
    font-size: 1.7vw;
    font-weight: 500;
  }

  .left-sidebar {
    display: flex;
    /* margin: 20px 40px; */
    /* width: 90%; */
  }

  .landmarks {
    flex-basis: 40%;
  }

  .periods {
    flex-basis: 60%;
  }

  .about-container {
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
  }

  .about-image {
    width: 25%;
    position: relative;
  }

  .about-image img {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    border-radius: 20%;
    position: absolute;
    top: 4%;
    /* box-shadow: 7px 7px 30px #e2884a; */
  }

  .about-image img:hover {
    filter: none;
  }

  .about {
    width: 45%;
  }

  .about p, h4 {
    font-size: 1.7vw;
  }

  .about h1 {
    font-size: 2.5vw;
  }

  .about h1:hover {
    background-image: linear-gradient(to right, #B3DDF2, #FF0000, #B3DDF2, #FF0000);
    -webkit-background-clip: text;
    color: transparent;
  }


  #year {
    margin: 15px 40%;
  }

  .styles {
    margin-top: 40px;
  }

  .info h5 {
    font-size: 1.7vw;
  }


}
