* {
  border: 1px solid gold;
}

.container {
  margin: 0 auto;
}

.search-bar {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 24px;
}

form {
  margin: 10px;
}

input {
  width: 100px;
  padding: 1em 2em;
}

.main-content {
  margin: 15px auto;
}

.left-sidebar {
  margin: 10px;
}

.landmarks {
  margin: 10px;
}

.periods {
  margin: 10px;
}

.right-sidebar {
  margin: 50px 10px;
}

.info {
  margin: 10px;
}

.see-more {
  margin: 10px;
}

#submit {
  padding: 1em 2em;
  border-radius: .5em;
}
